################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SauceLabTestFramework/SauceLabTestFramework/bin/Debug/net8.0
/.vs
